.documentation-container {
  margin: 20vh 0;
  color: #efefef;
  padding: 50px;
  width: 100%;
}
.documentation-container .mainbody {
  width: 85%;
  margin: 0 auto;
}

.documentation-container .mainbody .docs {
}

.documentation-container .mainbody .docs .title {
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
}

.documentation-container .mainbody .docs .container {
  margin: 50px auto;
  padding: 20px;
}

.documentation-container .mainbody .docs .container .single-post {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.documentation-container .mainbody .docs .container .header-post {
  margin-left: 40px;
  font-size: 20px;
  color: royalblue;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-family: sans-serif;
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.documentation-container .mainbody .docs .container .paragraph {
  font-size: 13px;
  letter-spacing: 0.2px;
  text-align: justify;
}

.documentation-container .mainbody .docs .container .paragraph p {
  color: #efefef;
}

.documentation-container .mainbody .docs .container .paragraph .fp {
}

.documentation-container .mainbody .docs .container .paragraph .sp {
}

@media screen and (max-width: 1080px) {
  .documentation-container {
    padding: 0;
  }
  .documentation-container .mainbody {
    width: 100%;
  }
}
